body {
    background-color: black;
    color: purple;
    font: "ariel";
    text-align: center;
}

.links {
text-align: left;
}

img {
 center 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h2{
    color: rgb(183, 90, 3);

}

hr {
    border: none;
    border-top: 1px dashed purple;
  }

h3{
    color: rgb(183, 90, 3);
}

a {
    color: red;
} 