body {
    background-color: black;
    color: purple;
    font-family: "ariel";
    text-align: center;
}

.links {
    text-align: left;
}

  h1{
    color: rgb(183, 90, 3)
}

hr {
    border: none;
    border-top: 1px dashed purple;
}

p {
    font-weight: bold;
}
a {
    color: red
}
